@mixin button($color: #008000) {
    display: inline-block;
    position: relative;
    max-width: 24px;
    height: 24px;
    padding: 3px;
    text-align: center;
    color: rgba(0, 0, 0, .7);

    span {
        font-size: 20px;
        user-select: none;
    }

    &:active, &.active{
        color: $color;
    }

    &:hover{
        background: #eee;
        cursor: pointer;
    }

    //:hover::after {
    //    content: attr(data-title);
    //    position: absolute;
    //    left: 20%; top: 30%;
    //    z-index: 1;
    //    background: rgb(255, 255, 255);
    //    font-family: "Roboto" sans-serif;
    //    font-size: 11px;
    //    padding: 5px 10px;
    //    border: 1px solid #333;
    //}
}

